@import "../scss/mixins/flex-block";
@import "../scss/mixins/button";
@import "../scss/colors";

.profile {
  height: 100%;
  width: 100%;
  display: flex;
  @include flex-block(column, center, space-between);

  &__img {
    border-radius: 50%;
    object-fit: contain;
    width: 230px;
    height: 230px;
    border: 2px solid #DFE1E6;
  }

  &__data {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__data-item {
    border-bottom: 2px solid #DFE1E6;
    font-size: 17px;
    padding: 7px 5px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__controls {
    width: 100%;
    @include flex-block(row, center, space-between);
    &-btn {
      @include button(#fff, $mainColor1);
      width: auto;
      padding: 5px 10px;
      &_exit {
        background-color: $mainColor2;
      }
    }
  }
}