@import "../scss/mixins/flex-block";

.pageNotFound {
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  @include flex-block(column, center, center);

  &__title {
    font-size: 92px;
  }

  &__link {
    font-size: 17px;
  }
}