@import "../scss/mixins/flex-content-center";

.pageNotFound {
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  @include flex-content-center(column);

  &__title {
    font-size: 92px;
  }

  &__link {
    font-size: 17px;
  }
}