@import "../scss/colors";

.header {
  width: 100%;
  background-color: $mainColor1;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 100%;
  }
}