@import '../scss/colors';
@import "../scss/mixins/flex-block";
@import '../scss/templates/hoverable-item';
@import '../scss/mixins/button';

.form {
  width: 100%;

  & label {
    width: 100%;
    position: relative;
    @include flex-block(row, center, space-between);
    &:not(:first-child) {
      margin-top: 20px;
      @media screen and (max-width: 310px){
        margin-top: 10px;
      }
    }
  }

  & fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__input {
    width: 100%;
    background-color: inherit;
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    outline: 0;
    padding: 15px;
    font-size: 14px;
    transition: border-color .4s;
    &:focus {
      border: 1px solid rgba($mainColor1, .6);
    }

    @media screen and (max-width: 310px){
      font-size: 10px;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 40px;
    padding: 15px 10px;
    font-size: 18px;
    @include button(#fff, $mainColor1);

    @media screen and (max-width: 310px){
      font-size: 14px;
      margin-top: 20px;
      padding: 10px;
    }
  }

  &__message {
    font-size: 13px;
    margin-top: 10px;
  }

  &__show-pass {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    height: 100%;
    display: block;

    & img {
      width: 30px;
      @media screen and (max-width: 310px){
        width: 20px;
      }
    }
  }
}