@import '../scss/colors';
@import '../scss/templates/hoverable-item';
@import '../scss/mixins/button';

.form {
  & label {
    width: 100%;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  & fieldset {
    margin: 0;
    padding: 0;
  }

  &__input {
    width: 100%;
    background-color: inherit;
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    outline: 0;
    padding: 15px;
    font-size: 14px;
    transition: border-color .4s;
    &:focus {
      border: 1px solid rgba($mainColor1, .6);
    }
  }

  &__submit {
    width: 100%;
    margin-top: 40px;
    padding: 15px 45px;
    font-size: 18px;
    @include button(#fff, $mainColor1);
  }

  &__message {
    font-size: 13px;
    margin-top: 10px;
  }
}