@import '../scss/mixins/hoverable-item';
@import '../scss/colors';

.link {
  text-decoration: none;
  color: $mainColor1;
  background-color: inherit;
  border: 0;
  outline: 0;
  &:hover {
    @include hoverable-item;
  }
}